.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.merriweather-normal {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* shared style */

.section-title {
  font-weight: 700;
  font-size: 48px;
  color: #070211;
}

.all-description {
  font-weight: 600;
  font-size: 24px;
  color: #ff0000;
}

/* header section style */

header {
  height: 600px;
  background-image:
    linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Banner\ Image.png");
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}

.banner-content {
  color: #ffffff;
  text-align: center;
  padding-top: 117px;
}

.banners-subtitle {
  font-size: 32px;
  font-weight: 500;
}

.banner-title {
  font-size: 72px;
  font-weight: 900;
}

/* main style */

main,
header {
  max-width: 1300px;
  margin: 0 auto;
}

/* discount section */
.discount-content {
  margin-top: 120px;
  text-align: center;
  text-transform: uppercase;
}

.off {
  font-weight: 700;
  font-size: 88px;
  color: #ff0000;
}

/* party section */
.party-main {
  margin: 120px 0 120px 0;
  background-image:
    linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("/images/Vectorrr.png");
  height: 600px;
  border-radius: 16px;
}
.party-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 70px 130px;
  gap: 30px;
}

.party {
  text-transform: capitalize;
  color: #ffffff;
}

.party-title {
  font-size: 64px;
  font-weight: 900px;
}

.party-description {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}

.join-now {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 40px;
}

/* place-time style section */
.place-time-content {
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.281) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  height: 482px;
  margin: 120px 0 120px 0;
}

.place-time-section {
  display: inline;
  text-align: center;
  padding-top: 200px;
}

.place-time-section span {
  color: red;
}

.place {
  padding-top: 200px;
  font-weight: 600;
  font-size: 32px;
  text-transform: capitalize;
  color: #070211;
}

.place-btn button {
  padding: 16px 32px;
  background-color: red;
  border-radius: 8px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}

/* offer coming soon section */
.offer-content {
  margin: 200px 0 120px 0;
  display: flex;
  justify-content: space-around;
  gap: 90px;
}
.soon {
  font-weight: 900;
  font-size: 48px;
  text-transform: capitalize;
  color: #070211;
}

.image-wrapper {
  padding: 15px;
  background: red;
  border-radius: 50%;
}

.image-wrapper img {
  border-radius: 50%;
  padding: 15px;
  background: white;
}

.year {
  font-size: 48px;
  font-weight: 700;
  color: red;
}

.year-des {
  font-weight: 400;
  font-size: 20px;
  color: rgba(7, 2, 17, 0.6);
}

/* holiday styles section */
.holiday-main {
  height: 986px;
}

.holiday-content {
  margin: 200px 0 120px 0;
  text-align: center;
}

.holiday-content-style {
  margin-bottom: 100px;
}

.holiday-sub-title{
  font-size: 24px;
  font-weight: 500;
  color: #070211;
}

.holiday-title span{
  color: #ff0000;
}

.holiday-title{
  font-weight: 900;
  font-size: 72px;
  color: #070211;
}

.holiday-description, .portfolio-des{
  font-size: 20px;
  font-weight: 500;
  color: rgba(7, 2, 17, 0.6);
}

.position-fixing {
  position: relative;
  margin-top: 100px;
}

.gift-box {
  width: 600px;
  border-radius: 16px 0 16px 16px;
  position: relative;
  left: -250px;
  z-index:2;
}

.red-box {
  width: 100%;
  margin-top: -150px;
  z-index: 1;
}

.discount {
  position: absolute;
  right: 200px;
  top: 0;
  width: 300px;
}

/* portfolio description */
.portfolio-main{
  margin: 200px 0 120px 0;
}

.portfolio-img{
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  border-radius: 16px;
}

.portfolio-des{
  width: 800px;
}
