.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.merriweather-normal {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* shared style */

.section-title {
  font-weight: 700;
  font-size: 48px;
  color: #070211;
}

.all-description {
  font-weight: 600;
  font-size: 24px;
  color: #ff0000;
}

/* header section style */

header {
  height: 600px;
  background-image:
    linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Banner\ Image.png");
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}

.banner-content {
  color: #ffffff;
  text-align: center;
  padding-top: 117px;
}

.banners-subtitle {
  font-size: 32px;
  font-weight: 500;
}

.banner-title {
  font-size: 72px;
  font-weight: 900;
}

/* main style */

main,
header,
footer {
  max-width: 1300px;
  margin: 0 auto;
}

/* discount section */
.discount-content {
  margin-top: 120px;
  text-align: center;
  text-transform: uppercase;
}

.off {
  font-weight: 700;
  font-size: 88px;
  color: #ff0000;
}

/* party section */
.party-main {
  margin: 120px 0 120px 0;
  background-image:
    linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("/images/Vectorrr.png");
  height: 600px;
  border-radius: 16px;
}
.party-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 70px 130px;
  gap: 30px;
}

.party {
  text-transform: capitalize;
  color: #ffffff;
}

.party-title {
  font-size: 64px;
  font-weight: 900px;
}

.party-description {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}

.join-now {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 40px;
}

/* place-time style section */
.place-time-content {
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.281) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  height: 482px;
  margin: 120px 0 120px 0;
}

.place-time-section {
  display: inline;
  text-align: center;
  padding-top: 200px;
}

.place-time-section span {
  color: red;
}

.place {
  padding-top: 200px;
  font-weight: 600;
  font-size: 32px;
  text-transform: capitalize;
  color: #070211;
}

.place-btn button {
  padding: 16px 32px;
  background-color: red;
  border-radius: 8px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}

/* offer coming soon section */
.offer-content {
  margin: 200px 0 120px 0;
  display: flex;
  justify-content: space-around;
  gap: 90px;
}
.soon {
  font-weight: 900;
  font-size: 48px;
  text-transform: capitalize;
  color: #070211;
}

.image-wrapper {
  padding: 15px;
  background: red;
  border-radius: 50%;
}

.image-wrapper img {
  border-radius: 50%;
  padding: 15px;
  background: white;
}

.year {
  font-size: 48px;
  font-weight: 700;
  color: red;
}

.year-des {
  font-weight: 400;
  font-size: 20px;
  color: rgba(7, 2, 17, 0.6);
}

/* holiday styles section */
.holiday-main {
  height: 986px;
}

.holiday-content {
  margin: 200px 0 120px 0;
  text-align: center;
}

.holiday-content-style {
  margin-bottom: 100px;
}

.holiday-sub-title {
  font-size: 24px;
  font-weight: 500;
  color: #070211;
}

.holiday-title span {
  color: #ff0000;
}

.holiday-title {
  font-weight: 900;
  font-size: 72px;
  color: #070211;
}

.holiday-description,
.portfolio-des {
  font-size: 20px;
  font-weight: 500;
  color: rgba(7, 2, 17, 0.6);
}

.position-fixing {
  position: relative;
  margin-top: 100px;
}

.gift-box {
  width: 600px;
  border-radius: 16px 0 16px 16px;
  position: relative;
  left: -250px;
  z-index: 2;
}

.red-box {
  width: 100%;
  margin-top: -150px;
  z-index: 1;
}

.discount {
  position: absolute;
  right: 200px;
  top: 0;
  width: 300px;
}

/* portfolio description */
.portfolio-main {
  margin: 200px 0 120px 0;
}

.portfolio-img {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  border-radius: 16px;
}

.portfolio-des {
  width: 800px;
}

/* subscribe style section */
.subscribe-main {
  height: 616px;
  background-color: rgba(255, 0, 0, 0.05);
}

.subscribe-content {
  padding-top: 88px;
  text-align: center;
}

.subscribe-des {
  padding-bottom: 48px;
  gap: 100px;
}

.subscribe-des,
img,
h1,
p {
  padding-bottom: 30px;
}

.subscribe-descrip {
  font-weight: 500px;
  font-size: 20px;
  color: rgba(7, 2, 17, 0.6);
  padding: 0 30px 0 30px;
}

.subscribe-box {
  display: flex;
  /* text-align: center; */
  width: 650px;
  height: 72px;
  border-radius: 50px;
  overflow: hidden;
}

.subscribe-box input {
  flex: 1;
  border: none;
  padding: 0 20px;
  font-size: 16px;
  outline: none;
  background: #ffffff;
  /* padding-bottom: 30px; */
}

.subscribe-box button {
  width: 180px;
  background: red;
  color: white;
  border: none;
  font-size: 16px;
}

.input-content {
  display: flex;
  justify-content: center;
}

/* footer section style */
.footer-container{
  margin: 150px 0 120px 0;
  background: #070211;
  height: 609px;
}
.footer-main {
  padding: 130px 140px 113px 120px;
}


.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.footer-img{
  padding-top: 20px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.footer-last{
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
}

.fa-facebook {
  height: 62px;
  background: linear-gradient(to bottom, #4c69ba, #3b55a0);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 40px;
  display: inline-block;
}

.fa-instagram {
  /* color: ; */
  background: linear-gradient(
    45deg,
    #fdf497 0%,
    /* Yellow */ #fd5949 35%,
    #d6249f 70%,
    #285aeb 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 40px;
  display: inline-block;
}

.fa-x-twitter {
  background: linear-gradient(45deg, #1da1f2 0%, #0e71a8 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 40px;
  display: inline-block;
}

.fa-linkedin {  
  background: linear-gradient(to bottom, #0077b5 0%, #005983 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 40px;
  display: inline-block;
}
