.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}


.merriweather-normal {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* header section style */

header {
  height: 600px;
  background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),url("../images/Banner\ Image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}

.banner-content{
    color: #FFFFFF;
    text-align: center;
    padding-top: 117px;
}

.banners-subtitle{
    font-size: 32px;
    font-weight: 500;
}

.banner-title{
    font-size: 72px;
    font-weight: 900;
}

/* main style */

main, header{
  max-width: 1300px;
  margin: 0 auto;
}
